{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Checkout - Ongo{% endblock %}</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/lucide@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    {% block extra_css %}{% endblock %}
</head>

<body class="bg-gray-50 font-sans flex flex-col min-h-screen">

    <!-- Checkout Header -->
    {% include 'includes/checkout_header.html' %}

    <!-- Main Content -->
    <main class="flex-grow pt-24 pb-12 w-full max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Checkout Footer -->
    {% include 'includes/checkout_footer.html' %}

    <script>
        lucide.createIcons();
    </script>
    {% block extra_js %}{% endblock %}
</body>

</html>