<footer class="bg-gray-50 border-t border-gray-200 py-8 mt-auto">
    <div class="container mx-auto px-4 flex flex-col md:flex-row justify-between items-center text-sm text-gray-500">
        <div class="mb-4 md:mb-0 flex items-center gap-2">
            <img src="https://res.cloudinary.com/ddynxusw2/image/upload/v1766473856/Ongo_Logo_di7890.svg"
                alt="Ongo Logo bg-gray-50" class="h-6 opacity-80 mix-blend-multiply">
            <span>© 2025 Retail World Limited</span>
        </div>

        <div class="flex space-x-6">
            <a href="#" class="hover:text-red-500 transition-colors">Terms & Conditions</a>
            <a href="#" class="hover:text-red-500 transition-colors">Privacy Policy</a>
        </div>
    </div>
</footer>